header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.navlinks {
  display: flex;
  gap: 30px;
  list-style: none;
}

mobile{
  box-shadow: 0 0 0 20px hsla(120, 100%, 100%, 0.53);
}

.navlinks a {
  text-decoration: none;
  font-family: "Jost", sans-serif;
  font-size: 15px bold;
  line-height: 24px;
  color: #1d2130;
}

.navlinks a:hover {
  border-bottom: 2px solid #8a2c0d;
  font-weight: bold;
  transition: linear 0.3s;
}
 
@media screen and (max-width: 862px){
  .navlinks{
    display:none;
  }
}