.whyContainer {
  /* justify-content: center; */
}
.whyHeadLine {
  background: linear-gradient(to right, #373fff, #3acaf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Jost", sans-serif;
  font-size: 25px;
}
.whyHeading {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-style: bold;
  color: #1d2130;
  padding-top: 0px;
}
.whyInfo {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #1d2130;
  padding-bottom: 20px;
}
