.formGroup {
  display: flex;
  flex-direction: column;
}

.heroImg {
  width: 30px;
  /* height: 30px; */
}

.herImg > img {
  width: 100%;
  height: 100%;
}

.hero_container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.header_logo {
}
